.main-nav{
    line-height: 50px;
    text-align: center;
}

.main-nav a {
    margin-right: 14px;
    margin-left: 14px;
    text-decoration: none;
}

@media (max-width: 780px) {

    .nav-on .main-nav{
        display: block;
    }

    .nav-off .main-nav{
        display: none;
    }
    .main-nav{
        width: 100%;
        position: fixed;
        top:0;
        background: #6c63ff;
        padding-top:50px;    
    }
    .main-nav a {        
        color: #fff;
        display: block;
    }
}
