.nav-item {
    display: block;
    padding: 10px;
    text-align:left;
    border-bottom:1px solid rgba(200,200,200, 0.2);
    text-decoration: none;
}

.nav-active{
    border-left:3px solid #6c63ff;
    padding-left: 7px;
}

.nav-item a {
    color:#6c63ff;
    border-bottom: none;
}


.nav-item a:visited {
    color:#6c63ff;
    border-bottom: none;
}

.nav-item a:active {
    color:#6c63ff;
    border-bottom: none;
}

.nav-short-title{
    color: #999;
    display: block;
    font-size:0.8em;
}
.night .nav-short-title{
    color: #ddd;
}


.nav-long-title{
    display: block;
    margin:5px 0;
}

.night .nav-long-title{
    color: #fff;
}
