.nav-item {
    padding: 10px;
    text-align:left;
    border-bottom:1px solid rgba(200,200,200, 0.2);
}

.nav-short-title{
    color: #999;
    display: block;
    font-size:0.8em;
}

.nav-long-title{
    display: block;
    margin:5px 0;
    border:none;
}