@media (min-width: 1280px) {
.scroll-down {

    width: 36px;
    height: 36px;
    bottom: 40px;
    right: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    border: none;
    z-index: 998;
    outline: none;
    cursor: pointer;
}

.scroll-up {
    width: 36px;
    height: 36px;
    bottom: 60px;
    right: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    border: none;
    z-index: 998;
    outline: none;
    cursor: pointer;
}

.scroll-up-down {
    position: fixed;
    bottom: 20%;
    right: 1%;
    display: flex;
    flex-direction: column;
}

}