.btn-preferences{
    position: fixed;
    width: 36px;
    height:36px;
    bottom: 10px;
    right:10px;
    border: 0.5px solid rgba(255, 255, 255, .25);
    border-radius: 50%;
    border:none;
    z-index: 998;
	background-color: #6c63ff;
}

.nav-btn:focus{
    outline:none;
}