nav {
	padding:0;
	position: fixed;   
	height:100%;
	overflow-y: scroll;
}

.nav-heading{
	margin-top:0;
}

.nav-meta{
	color:#fff;
	margin-top: 15px;
}
nav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
}

nav::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(0,0,0,0);
}

nav::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 11px rgba(0,0,0,.15);
	background-color:  #6c63ff;
}

.day nav {
	background-color: #fff; 
}

.night nav {
	background-color:   #6c63ff;
}


/* Orientation-dependent styles for the content of the menu */
nav {
	width: 400px;
	top: 0;
	z-index: 1000;
}

/* Vertical menu that slides from the left or right */
nav {
	right: -400px;
}
 .open {
	right: 0px !important;
}

/* Transitions */
nav {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


@media screen and (max-width: 450px){

nav {
		font-size: 90%;
		width:calc(100vw - 50px);
	}

nav {
		right: -100vw;
	}
}

.nav-header{
	background-color: #6c63ff;
    color: #ffffff;
    text-align: left;
    padding: 2rem 1rem;
    margin-top:0;
}
