nav {
    padding:0;
	position: fixed;    
}

.day nav {
	background-color: #fff; 
}

.night nav {
	background-color:  #22f;
}


/* Orientation-dependent styles for the content of the menu */
nav {
	width: 400px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

/* Vertical menu that slides from the left or right */
nav {
	right: -400px;
}
 .open {
	right: 0px !important;
}

/* Transitions */
nav {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


@media screen and (max-width: 450px){

nav {
		font-size: 90%;
		width:calc(100vw - 50px);
	}

nav {
		right: -100vw;
	}
}