
.tab-button{
    height:50px;
    width:33.33%;
    border:none;
    font-family: "Quicksand", sans-serif;
    margin-bottom:2px;
    line-height:36px;
    font-size:1em;
    padding-top:4px;    
    background-color: transparent;
}

.night .tab-button{ 
    color:#fff;
}
.tab-button:focus{
    outline:none;
    margin-bottom:0;
    text-decoration:underline;
    text-decoration-color: #0beef8;
}

.tab-content{
    height: calc(100vh -  52px);
    overflow-y: scroll;
}

.tab-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
}

.tab-content::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(0,0,0,0);
}

.tab-content::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 11px rgba(0,0,0,.15);
	background-color:  #008abe;
}