.home {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.main-title {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 46px;
    color: #101010;
    letter-spacing: 1.08px;
    line-height: 64px;
    text-align: center;
}

.edliz-intro {
    font-family: 'IBM Plex Serif', serif;
    max-width: 1040px;
    font-size: 18px;
    color: #101010;
    letter-spacing: 0.26px;
    line-height: 30px;
    margin: 60px auto;
    padding: 0 60px;
    text-align: center;
}

.start-reading {
    text-align: center;
}

.github {
    display: flex;
    justify-items: baseline;
    margin: 0 0 150px 100px;
}
.github img {
    margin-right: 30px;
}
.github p {
    color: #92aac3;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    letter-spacing: 0.26px;
    width: 858px;
    margin: 0;
}

@media (min-width: 768px) {
    .main-title {
      margin: 90px 0 30px 0px;
    }
}

@media (max-width: 767px) {
    .main-title {
        font-size: 28px;
        line-height: 36px;
        margin: 30px auto 24px;
    }

    .edliz-intro {
        font-size: 14px;
        color: #101010;
        line-height: 22px;
        margin: 50px auto 40px;
        padding: 0 20px;
        text-align: center;
    }

    .github {
        display: flex;
        justify-items: baseline;
        margin: 0 10px 50px 10px;
    }
    
    .github p {
        font-family: 'IBM Plex Serif', serif;
        font-size: 8px;
        color: #92aac3;
        text-align: justify;
        letter-spacing: 0.26px;
        margin: 0;
        width: 858px;
    }
}