.rounded-btn {
    font-family: IBMPlexSerif-Light;
    background: #3c8eff;
    border-radius: 100px;
    padding: 14px 20px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 1;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

a.rounded-btn:hover,
.rounded-btn:hover {
    opacity: 0.6;
}