.day .screen {
    background-color: #fff;
    color: #333;
}

.night .screen {
    background: #2a2a2a;
    color: #ccc;
}

p {
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    color: #101010;
    letter-spacing: 0.26px;
    line-height: 30px;
}

ul,
ol {
    padding-left: 1em;
}

li {
    margin-bottom: 0.5em;
}
h1 {
    display: none;
}

h2,
h3,
h4,
h6 {
    font-weight: 600;
    text-align: left;
}

.night .screen a {
    color: #ccc;
}
.underline {
    text-decoration: underline;
}

table {
    margin: 10px auto;
    min-width: 400px;
}

.day th {
    background-color: rgba(0, 0, 60, 0.2);
}

.night th {
    background-color: rgba(200, 200, 255, 0.2);
}

.day td {
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.night td {
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 450px) {
    table {
        font-size: 85%;
        min-width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .screen::-webkit-scrollbar {
        width: 8px;
    }

    .screen::-webkit-scrollbar-thumb {
        border-radius: 0;
        -webkit-box-shadow: inset 0 0 11px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 11px rgba(0, 0, 0, 0.3);
        background-color: #ccf;
    }
}

.boxedlist {
    border: 1px solid;
    padding: 1em 3em;
    margin: 1em;
    list-style-type: circle;
}
