.screen{
    margin-top: 85px;
}
.day .screen {
    /* background-color: #fff; */
    color:#333;
}
.night .screen{
    /* background: #001c2a; */
    color: #cae6f4;
}

.screen::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: rgba(0, 0,0, 0);
}

.screen::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(0, 0,0, 0);
}

.screen::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 11px rgba(0,0,0,.3);
	background-color:  #008abe;
}
ul, ol {
    padding-left:1em;
}

li {
    margin-bottom:0.5em;
}

h1, h2, h3, h4, h6 {
    text-align: left;
}
.article {
    display: block;
    margin:auto;
    padding: 1em 1em 60px;
    max-width:840px;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    border-bottom: 1px dotted;
}
.underline{
    text-decoration:underline;
}

table{
    margin: 10px auto;
    min-width:450px;
}

.day th{
    background-color: rgba(0,0,60, 0.2);
}
.night th {
    background-color: rgba(200,200,255, 0.2);
}
.day td{
    padding:2px;
    background-color: rgba(0,0,0, 0.3);
}
.night td {
    padding:2px;
    background-color:rgba(255,255,255, 0.2);
}



@media screen and (max-width: 450px){
    table {
        font-size: 85%;
        min-width:100%;
    }
}

.boxedlist{
    border: 1px solid;
    padding: 1em 3em;
    margin: 1em;
    list-style-type:circle;
}
