.preferences {
    font-size: 0.9rem;
    color:#ffffff;
    background-size: cover;
    position: fixed;
    margin: 0;
    transition: all 2s ease;
    background-color:#00f;
    box-shadow: 10px 0 10px #444;
    width:100vw;
}

/* Orientation-dependent styles for the content of the menu */
.preferences {
	height: 270px;
	z-index: 999;
}

/* Transitions */
.preferences {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


@media screen and (max-width: 450px){

.preferences {
		font-size: 90%;
	}
}


.btn-mode{
    border-radius: 4px;
    color: #ffffff;
    border:1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.76rem;
    font-family: 'Sarabun' sans-serif;
    margin:5px;
    padding: 4px 10px ;
}

.preference-control{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    line-height:48px;
    border-radius:.25em;
}

.font-size-label{
    margin: 2em auto 0.2em;
    font-size:0.9em;
    display: block;
}
/* Clear all default formating for range inputs*/

.font-size-input{
    -webkit-appearance:none;
    background:transparent;
    min-width:70%;
}

.font-size-input::-webkit-slider-thumb{
    -webkit-appearance:none;
}

.font-size-input:focus{
    outline:none;
}

.font-size-input::-ms-track {
    width: 80%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /*styling the thumb begins here */

  .font-size-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border: 0.5px solid #000;
    border-radius: 50vh;
    background: #ffffff;
    cursor: pointer;
    margin-top: -2px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  .font-size-input::-moz-range-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50vh;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  .font-size-input::-ms-thumb {
    height: 14px;
    width: 14px;
    border:#000;
    border-radius: 50vh;
    background: #ffffff;
    cursor: pointer;
  }


  /* Styling the track begins here*/
  .font-size-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50vh;
  }
  
  /*.font-size-input:focus::-webkit-slider-runnable-track {
    background: rgba(0,0,0, 0.25);
  }*/
  
  .font-size-input::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50vh;
  }
  
  .font-size-input::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    border-color:transparent;
    border-width: 16px 0;
    color: transparent;
  }
  .font-size-input::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50vh;
  }
  .font-size-input:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.4);
  }
  .font-size-input::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50vh;
  }
  .font-size-input:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.4);
  }

.close-btn{
    background-color: rgba(0, 0, 0, 0.1);
    color:#ffffff;
    border:none;
    margin:5px;
    padding: 2px 6px;
    border-radius: 50vh;
}

.close-btn:focus{
    outline:none;
}
