.settings{
    padding: 10vh 10vw;
    text-align:left;
    background-color:  #00f;
    color:  #fff;
    min-height: 80vh;
    font-size:0.8rem;
}

.btn-more {
    border-radius: 50vh;
    color: #ffffff;
    font-size: 0.7rem;
    border:1px solid #ffffff;
    padding: 3px 8px ;
}

.back-link{
    font-size: 0.9em;
    text-decoration: none;
    border: none;
    border-bottom: 1px dotted #fff;
    padding: 0;
    margin-bottom: 1.4em;
}